/*
baking sheets main file
*/

@pale_yellow: #fffde3;
@light_brown: #b88750;
@dark_brown: #6d382e;
@intense_pink: #9B123F;
@pale_pink: #D33563;
@pale_green: #8FE5BA;
@whiteish: #fff;
@light_grey: #f5f5f5;

@main_content_width: 960px;

@header_font: 'Droid Serif', serif;

body {
  background: white;
  margin: 0;
  padding: 0;
}

main {
  padding: 0 20px 0 20px;
  &:extend(.-main-content-width);
}


.-main-content-width {
  max-width: @main_content_width;
  margin: auto;
}


@import "layout";
@import "normalize";
@import "icons";
@import "itempreview";
@import "itemdetails";
@import "articletile";
@import "commentform";
@import "comment";
@import "menubox";
@import "navigation";
@import "header";
@import "footer";
@import "externals";
