/*
extensions for wordpress generated html snippets
*/

.post-edit-link {
  background: black;
  display: inline-block;
  padding: 0 1em;
  border-radius: 3px;
}

.facebook-like-container {
  padding: 0.2rem 0;
  min-height: 20px;
}

.wp-caption {
  margin: auto;
  max-width: 100%!important;

  img {
    border: 1px dotted white;
    max-width: 100%!important;
    outline: 1px solid @pale_green;
    height: auto!important;
    padding: 8px;
    background: @pale_green;  
  }

  .wp-caption-text {
    font-size: 0.9rem;
    text-align: center;
  }
}

.comment-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.comment-reply-title, .comment-notes, .form-allowed-tags {
  display: none;
}