/*
 Defaults

 Styleguide 1
 */

html {
  font-size: 16px;
  min-height: 100%;
}


body {
  min-height: 100%;
  &:extend(.-normal-font-family);
  position: relative;
  @media only screen and (min-width: @main_content_width) {
    background: @light_grey;
    background-image: url("body-fill.gif");
    background-repeat: repeat-y;
    background-position: top center;
  }
}

.-normal-font-family {
  font-family: Helvetica, Calibri, Verdana, sans-serif;
}


.a-white {
  background: @whiteish;
}

/*
Headlines

Normal designs for headlines

markup:
<{$modifiers}>Headline {$modifiers}</{$modifiers}>

h1 - h1 headline
h2 - h2 headline
h3 - h3 headline
h4 - h4 headline
h5 - h5 headline
h6 - h6 headline

Styleguide 1.1
*/


/*
Renderas Headlines

Headlines that look like headlines from a different type (all below headlines are H1 elements but they are made to look like a different headline

markup:
<h6 class="{$modifiers}">H6 Headline rendered as {$modifiers}</h6>

h1 - render as h1 headline
h2 - render as h2 headline
h3 - render as h3 headline
h4 - render as h4 headline
h5 - render as h5 headline
h6 - render as h6 headline

Styleguide 1.10
*/

/*
Embossed

markup:
<h4 class="{$modifiers}">headline {$modifiers}</h4>

.an-embossed-headline - embossed
.a-fancy - fancy

Styleguide 1.15
*/

@media only screen and (max-width: 400px) {
  h1, .h1 {
    font-size: 1.5rem;
  }

  h2, .h2, h3, .h3 {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 400px) {
  h1, .h1 {
    font-size: 2rem;
  }

  h2, .h2, h3, .h3 {
    font-size: 1.5rem;
  }
}

h1, .h1 {
  text-align: center;
}

h2, .h2 {
  padding-top: 0.5rem;
}

h3, .h3 {
  padding-top: 0.5rem;
}

h4, .h4, h5, .h5, h6, .h6 {
  font-size: 1rem;
}


.a-fancy {
  margin: 0;
  background: @pale_green;
  padding: 0.2rem;
  text-shadow: 0 1px black;
  text-align: center;
  color: black;
}

.a-pink {
  color: @pale_pink;
  text-shadow: 0 1px black;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
  line-height: 1.4em;
  padding: 0;
  margin: 2rem 0 0 0;
  font-family: @header_font;
  font-weight: 700;

  &.an-embossed-headline {
    text-shadow: 0px 1px @pale_pink;
  }
}

/*
Paragraphs

Normal Paragraphs

markup:
<p>first paragraph</p><p>second paragraph</p>

Styleguide 1.20
*/

p, .paragraph {
  line-height: 1.35rem;
  margin: 1em 0;
}



/*
Links

Links

markup:
<a href="#" class="{$modifiers}">Link text</a>

.an-unnoticable-link - unnoticable (in black color)

Styleguide 1.30
*/

a {
  color: @pale_pink;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}


a.an-unnoticable-link {
  color: black;
  &:hover{
    color: @pale_pink;

  }
}



/*
Form Row with input

row with label and input

markup:
<form>
  <label>input</label><input type="text" value="contents">
</form>

Styleguide 1.40
*/





/*
Form Row with textarea

row with label and input

markup:
<form>
  <label>input</label><textarea rows="4" cols="20">contents</textarea>
</form>

Styleguide 1.50
*/


/*
Button

row with label and input

markup:
<form>
  <input type="submit" value="submit">
  <button>button</button>
</form>

Styleguide 1.50
*/





label {
  width: 100px;
  display: inline-block;
  vertical-align: top;
}

input, textarea {
  border: 0px;
  border-bottom: 1px solid @pale_pink;
  font-size: 1rem;
  background: transparent;

  &:focus {
    outline-color: transparent;
    outline-style: none;
    -webkit-appearance: none;
  }
}

input[type="submit"], button {
  background: @pale_pink;
  color: white;
  border: 1px dotted white;
  font-size: 1rem;
  outline: 1px solid @pale_pink;

  &:hover {
    background: @pale_green;
    outline: 1px solid @pale_green;
    color: @pale_pink;
  }
}

textarea {
  border: 1px solid @pale_pink;
  max-width: 100%;
}




/*
Horizontal Rules

markup:
<hr>

Styleguide 1.80
*/

hr {
  border: none;
  border-bottom: 1px solid @pale_green;
  margin: 2rem auto;
  width: 60%;
}